/.github/ export-ignore
/stubs/ export-ignore
/.ddev/ export-ignore
/tests/ export-ignore
.env export-ignore
.env.example export-ignore
composer.json export-ignore
composer.lock export-ignore
DEVELOPMENT.md export-ignore
gulpfile.js export-ignore
package.json export-ignore
phpcs.xml.dist export-ignore
phpunit.xml.dist export-ignore
phpunit.xml.dist export-ignore
yarn.lock export-ignore

* text eol=lf
