/.github/ export-ignore
/stubs/ export-ignore
/.ddev/ export-ignore
/tests/ export-ignore
.env export-ignore
.env.example export-ignore
composer.json export-ignore
composer.lock export-ignore
DEVELOPMENT.md export-ignore
gulpfile.js export-ignore
package.json export-ignore
phpcs.xml.dist export-ignore
phpunit.xml.dist export-ignore
phpunit.xml.dist export-ignore
yarn.lock export-ignore

# Line endings
* text=auto

# Never apply any filter to binary assets
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.webp binary
*.otf  binary
*.ttf  binary
*.woff binary
*.woff2 binary
*.eot  binary
*.pdf  binary
*.zip  binary
*.mo   binary
