<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/PHPUnit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="PayPal Point of Sale WooCommerce PHP-SDK integration PHP unit tests">
            <directory suffix="Test.php">./tests/PHPUnit/Unit</directory>
        </testsuite>
        <testsuite name="PayPal Point of Sale WooCommerce PHP-SDK integration tests">
            <directory suffix="Test.php">./tests/PHPUnit/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
